body, html, div{
    touch-action: none;
}
body{
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    overflow: hidden;
}

div{
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

#prevent-touch-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    touch-action: none;
}

#game-grid-screen{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    touch-action: none;

}

#game-grid-header{
    font-size: 0px;
}

#level-back-button{
    height:30px;
    display: inline-block;
}

#level-back-button-icon{
    float:left;
    /* display: inline-block; */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right:5px;
    height: 10px;
    width: 10px;
}

#level-back-button-text{
    float:left;
    /* display:inline-block; */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* font-weight: bold; */
    font-size:15px;
    color:lightslategray;
}

#game-level-header{
    font-size: 20px;
    color:lightslategray;
    text-align: center;
}

/* #grid-wrapper{
 position: relative;
    height: 100%;
    width: 100%;
}
*/
.grid-block{
    /* height:100px;
    width:100px; */
    background-color:lightgray;
    float:left;
    /* margin:5px; */
    /*display: inline-block;*/
}
.grid-block-red{
    height:100px;
    width:100px;
    background-color:rgb(255, 112, 112);
}
.path{
    height:100px;
    width:100px;
    background-color:rgb(89, 194, 255);
}

.path.bottom{
    padding-bottom:10px;
}
.path.top{
    padding-top:10px;
    position:relative;
    top:-10px;
}
.path.left{
    padding-left:10px;
    position:relative;
    left:-10px;
}
.path.right{
    padding-right:10px;
}

#main-menu{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

#game-title{
    font-family:"Arial";
    font-size:50px;
    margin:0;
    margin-bottom:50px;
}

.header-blue{
    color:rgb(89, 194, 255);
}

.header-red{
    color:rgb(255, 90, 90);
}

.menu-option{
    background-color:rgb(89, 194, 255);
    margin:10px;
    padding:15px;
    text-align:center;
    font-size:25px;
    color:black;
}

.menu-option:hover{
    cursor:pointer;
}

#game-alert-screen{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0,0,0,0.5); Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    /* cursor: pointer; Add a pointer on hover */
}


#game-alert-screen-wrapper{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    /* height: 200px; */
    /* display: inline-block; */
    width:100%;
    padding:30px;
    background-color:rgba(128, 128, 128, 0.589);
    text-align: center;
}

#game-alert-header{
    font-size:50px;
    margin-bottom: 20px;
    /* padding-left: 30px;
    padding-right: 30px; */
}

#next-level-button{
    font-size: 25px;
    display: inline-block;
}

#next-level-button:hover{
    cursor:pointer;
}

#game-level-screen{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    touch-action: none;
    display: none;
    text-align: center;
    font-size: 0px;
}

#level-grid-header{
    position:relative;
    display: inline-block;
    margin-bottom: 5px;
    height:30px;
    font-size:0px;
}

#world-header{
    /* display: inline-block; */
    position: relative;
    /* text-align: center; */
    color: lightslategray;
    font-size:20px;
    float:left;
    width: 85px;
    margin-left:10px;
    margin-right:10px;
    top: 50%;
    transform: translateY(-50%);

    
}

#previous-world-button{
    height:20px;
    width: 20px;
    float:left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#next-world-button{
    height:20px;
    width: 20px;
    float: left;
    position: relative;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.ui-arrow{
    height:20px;
    width: 20px;
}

.level-button{
    /* height:200px; */
    /* width:200px; */
    float: left;
    /* margin: 2px; */
    background-color:rgb(89, 194, 255);
    position: relative;
}

.level-locked{
    background-color: lightgray;
}

.level-text{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    color:black;
    font-size: 20px;
}
